:root {
  /* Palette de couleurs principales */
  --primary-color: #171717;
  --secondary-color: #2ECC71;
  --tertiary-color: #F39C12;

  /* Accents pour secondary */
  --secondary-accent-light: #4cd787;
  --secondary-accent-dark: #27ae60;
  
  /* Accents pour tertiary */
  --tertiary-accent-light: #f5b041;
  --tertiary-accent-dark: #d68910;

}

/* Appliquer un fond noir et une couleur de texte blanche globalement */
body {
  background: linear-gradient(to left, #272727, #171717);
  color: white; /* Couleur de texte blanche par défaut */
  margin: 0; /* Supprime les marges par défaut */
  height: 100vh; /* Assurez-vous que le body occupe toute la hauteur de la fenêtre */
}

/* Si vous souhaitez que tous les divs aient également ce fond */
div {
  background-color: inherit; /* Utilise la couleur de fond du body */
}

/* Autres styles globaux que vous pourriez avoir */
